snippet titleblock
######################################################################
# $1
######################################################################
endsnippet


snippet printattribute
print("$1 = {}".format($1))$0
endsnippet
